<div class="pb-5 mb-4 bg-light rounded-3">
    <div class="container py-5">
        <h1 class="display-5 fw-bold">Home Page</h1>
        <p class="col-md-8 fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium porro animi commodi, dolorum voluptas unde natus cum sunt adipisci, vitae doloribus expedita exercitationem saepe quis cumque, possimus fugiat amet nulla?</p>
        <button class="btn btn-primary btn-lg">Search</button>
    </div>
</div>